/* //background image */
/* Courtesy of Myke Simon @myke_simon */
body {
    /* background: black; */
    background-image: url(../Images/cinema.jpg);
   background-size: cover;
}

#landing-wrapper {
    display: table;
    height: 710px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center top;
  
}

/* All search results */
#movies img{
width: 75%;
}

#movies {
    color: whitesmoke;
}

h5 {
    line-height: 1.8;
}

/* Single movie */
#poster {
    float: left;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

  .well {
      text-align: center;
      margin-top: 20px;
  }

#movieText {
    height: 75%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
        }
        
        #movies .col-md-3 img {
        height: 240px;
        }
}

