/* //background image */
/* Courtesy of Myke Simon @myke_simon */
body {
    /* background: black; */
    background-image: url(../Images/owens.jpg);
   background-size: cover;
}

#landing-wrapper {
    display: table;
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center top;
}

/* Jumbotron image */
.jumbotron {
     /* background-image: url(../Images/sunrise.jpg); */
    background-color:rgba(0, 0, 0, 0.822); 
    color: goldenrod;
}

/* All search results */
#movies img{
width: 75%;
}

#movies {
    color: whitesmoke;
}

/* Single movie */
#poster {
    float: left;
}

/* Spaces titles down from posters */
h5 {
    line-height: 1.8;
}

h2 {
    color: goldenrod;
}

/* Search results single movie posters */
img {
    margin-top: 15%;
    height: 85%;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

  .well {
      text-align: center;
      margin-top: 20px;
  }

  /* movie descrption to right of poster */
#movieText {
    height: 75%;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.822);
    color: whitesmoke;
}

/* Buttons */

.btn-default {
   background-color: whitesmoke;
}

.btn-default:hover {
    color: dodgerblue;
}

/* Footer */
#footer {
    background-color: rgba(0, 0, 0, 0.822);
    color: goldenrod;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
        }
        
        #movies .col-md-3 img {
        height: 240px;
        }
}

