/* //background image */
/* Courtesy of Myke Simon @myke_simon */
body {
    background-image: url('../Images/cinema.jpg');
}

/* All search results */
#movies img{
width: 75%;
}

/* Single movie */
#poster {
    float: left;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

  .well {
      text-align: center;
      margin-top: 20px;
  }

#movieText {
    height: 75%;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
        }
        
        #movies .col-md-3 img {
        height: 240px;
        }
}

